<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Futon Closet</title>

  <!-- CSS -->
  <!-- load bootstrap and personal stylesheet -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>
<body>
  <div class="background">
    <div class="container">
      <div class="jumbotron">
        <h1>Futon Closet</h1>
        <p>The world's first closet-themed sleeping experience<p>
      </div>

      <% if (reviews.length > 0) { %>
        <div class="jumbotron">
          <h2>Reviews</h2>
          <ul>
            <% for (const review of reviews) { %>
              <li>
                <p><%= review.text %>
                <% if (review.author) { %>
                  - <%= review.author %>
                <% } %>
                <p>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>

      <div class="jumbotron">
        <h2>Leave a review!</h2>
        <form method="post" action="/addReview">
          <input type="text" name="reviewAuthor" placeholder="Name" maxLength="30">
          <textarea type="text" name="reviewText" placeholder="Write your review here" cols="40" rows="5" maxlength="300" required></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
