<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Sample App</title>

  <!-- CSS -->
  <!-- load bootstrap and personal stylesheet -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Heroku Node App!</h1>
      <p>Let's see if this works<p>
    </div>
  </div>
</body>
</html>

