<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Futon Closet</title>

  <!-- CSS -->
  <!-- load bootstrap and personal stylesheet -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="background">
    <div class="container">
      <div class="jumbotron">
        <h1>Futon Closet</h1>
        <h3>The world's first closet-themed sleeping experience</h3>
      </div>

      <div class="jumbotron">
        <h2>Amenities</h2>
        <div class="columnLayout">
          <div class="column">
            <ul class="amenity-list">
              <li>
                <p onclick="showImage('fc-chromecast.jpg')">Chromecast<p>
              </li>
              <li>
                <p onclick="showImage('fc-chocolate.jpg')">
                  Complimentary Chocolate*
                <p>
              </li>
              <li><p onclick="showImage('fc-towels.jpg')">Fresh Towels*<p></li>
              <li><p onclick="showImage('fc-gwen.jpg')">Gwen Magazines<p></li>
              <li><p onclick="showImage('fc-hangers.jpg')">Hangers<p></li>
              <li><p onclick="showImage('fc-benji.jpg')">Pet Friendly<p></li>
              <li><p onclick="showImage('fc-xbox.jpg')">XBOX<p></li>
            </ul>
            * Only included on stays of greater than 1 night
          </div>
          <div class="column column2">
            <img id="amenity" src="http://tashawych.co/images/fc-chromecast.jpg" />
          </div>
        </div>
      </div>

      <% if (reviews.length > 0) { %>
        <div class="jumbotron">
          <h2>Reviews</h2>
          <ul>
            <% for (const review of reviews) { %>
              <li>
                <p><%= review.text %>
                <% if (review.author) { %>
                  - <%= review.author %>
                <% } %>
                <p>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>

      <div class="jumbotron">
        <h2>Leave a review!</h2>
        <form method="post" action="/addReview">
          <input type="text" name="reviewAuthor" placeholder="Name" maxLength="30">
          <textarea type="text" name="reviewText" placeholder="Write your review here" cols="40" rows="5" maxlength="300" required></textarea>
          <input type="submit" value="Submit">
        </form>
        <% if (reviewSubmitted) { %>
          <div>Thanks for the review!</div>
        <% } %>
      </div>

      <div class="jumbotron">
        <h2>Location</h2>
        <p>Futon Closet is located in Sunnyvale, California.<p>
        <p>Conveniently down the street from a VTA stop, guests can take the VTA to the Mountain View Caltrain Station and get to San Francisco in an hour and a half. Or rent a car and be in SF in just 45 minutes.<p>
        <div id="map"></div>
      </div>

      <div class="jumbotron">
        <h2>Book your stay now!</h2>
        <p><em>*still in beta*</em></p>
        <form method="post" action="/bookReservation">
          <p>Name<p>
          <input type="text" name="reservationName" maxLength="50" required>
          <p>Email<p>
          <input type="text" name="reservationEmail" maxLength="50" required>
          <p>Check-in<p>
          <input type="date" name="startDate" required>
          <p>Check-out<p>
          <input type="date" name="endDate" required>
          <p>Please type 12345 below to prove you aren't a robot<p>
          <input type="text" name="robotCode" maxLength="5" required>
          <input type="submit" value="Submit">
          <% if (robotCodeFailed) { %>
            <div>Are you a robot?</div>
          <% } %>
        </form>
      </div>
    </div>
  </div>
  <script src="js/scripts.js"></script>
  <script>preloadImages();</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD42geKjQgyiZl4aPTNd-ph7-V_0OZj8co&callback=initMap">
  </script>
</body>
</html>
