<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Parking Pass</title>

  <!-- CSS -->
  <!-- load bootstrap and personal stylesheet -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css"
        rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Is the parking pass available?</h2>
      <h1>YES</h1>
    </div>
  </div>
</body>
</html>