input {
	display: block;
}

input[type="text"] {
	margin-bottom: 4px;
	width: 302px;
}

.jumbotron p {
	font-size: 18px;
}

.jumbotron li > p {
	font-size: 20px;
}

#map {
	height: 400px;
	width: 100%;
}

.background {
	background-image: url(http://tashawych.co/images/FutonClosetBackground.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.container {
	padding-top: 50px;
}

.container .jumbotron {
	border-radius: 32px;
}

.jumbotron {
	opacity: 0.9;
}
